@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

body, .vstack {
  margin: auto;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500 !important;
  transition: 0.3s ease;
}
.sticky-top {
  /* -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);  */
}
.vstack {
  padding-top: 30px;
}
.hstack {
  padding: 0 20%;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
h2 {
  font-weight: 600 !important;
}
.versiontext {
  font-size: small;
  font-weight: bold;
  opacity: 0.4;
}
.answer {
  padding: 12px;
  font-weight: bold;
  border: 1px solid;
  border-color: #ccc;
  border-radius: 10px;
}